{# templates/content/node--page.html.twig #}
{% set hero_url = '' %}
{% if node.field_section_hero_image is defined and node.field_section_hero_image.entity %}
  {% set hero_url = file_url(node.field_section_hero_image.entity.uri.value) %}
{% endif %}

<article{{ attributes.addClass('page-section') }}>


  <div class="page-section__body">
    <div class="container">
      {{ content|without('field_hero_foto','field_section_lead') }}
    </div>
  </div>
</article>
