{#
  Hero Home - item de la vista home_hero
  Usa field_hero_image como imagen de fondo (File o Media)
#}

{# 1 Intento: si el campo es MEDIA con imagen (lo más común) #}
{% set hero_bg = '' %}

{% if node.field_hero_image is defined and node.field_hero_image.entity %}
  {# Caso A: Media #}
  {% if node.field_hero_image.entity.field_media_image is defined
        and node.field_hero_image.entity.field_media_image.entity %}
    {% set hero_bg = file_url(node.field_hero_image.entity.field_media_image.entity.uri.value) %}

  {# Caso B: File directo (imagen clásica) #}
  {% elseif node.field_hero_image.entity.uri is defined %}
    {% set hero_bg = file_url(node.field_hero_image.entity.uri.value) %}
  {% endif %}
{% endif %}

<div class="hero-copy"
  {% if hero_bg %}
    style="background-image:url('{{ hero_bg }}');"
  {% endif %}>
  
</div>
