// style.scss
// Archivo principal de Sass del tema marazul.
// Compila este archivo a css/style.css

@import 'variables';
@import 'mixins';
@import 'components';
@import 'header';
@import 'hero';
@import 'rooms';
@import 'section-header';
@import 'footer';
@import 'pages';
@import 'plans';
@import 'notifications';
@import 'forms';
@import 'booking-bar';
@import 'carousel';