{# Fondo del hero para páginas internas: usa field_hero_foto (Image directo) #}
{% set hero_bg = '' %}

{% if node is defined and node and node.field_hero_foto is defined and node.field_hero_foto.entity %}
  {% set hero_bg = file_url(node.field_hero_foto.entity.uri.value) %}
{% endif %}

{% if not hero_bg %}
  {% set hero_bg = directory ~ '/images/hero-default.jpg' %}
{% endif %}

<div class="hero-copy" style="background-image:url('{{ hero_bg }}');"></div>
