{# Fondo del hero para páginas internas: usa field_hero_foto (Image directo) #}
{% set hero_bg = '' %}

{% if node is defined and node and node.field_hero_foto is defined and node.field_hero_foto.entity %}
  {% set hero_bg = file_url(content.field_hero_foto) %}
{% endif %}

<div class="hero-copy"
  {% if marazul_hero_bg %}
    style="background-image:url('{{ marazul_hero_bg }}');"
  {% endif %}
></div>


<div class="hero-copy" style="background-image:url('{{ hero_bg }}');"></div>

